*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    height: 1px;
    width: 100%;
    background-color:black;
}
.nav_li{
    padding: 32px;
}
.contaner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 70px;
    width: 100%;
}


#linkPanel1{
    position: fixed;
    margin-top: 7px;
    margin-left: 30px;
}
#linkPanel2{
    position: fixed;
    margin-top: 7px;
    margin-left: 30px;
}
.hidden1 {
    display: none;
}/*скрытие ссылок на сайты с сайтами */
.hidden2 {
    display: none;
}/*скрытие ссылок на сайты с сайтами */



ul{
    list-style-type: none;
}
.nav_type{
    margin-right: 50px;
    display: flex;
}
.reg{
    display: flex;
}
.reg_li_whith{
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    width: 200px;
    background-color:rgb(255, 255, 255);
    border: none;
    color:rgb(0, 0, 0);
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
    border: 1px solid #000000;
}
.reg_li_blek{
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    width: 200px;
    background-color:rgb(0, 0, 0);
    border: none;
    color:white;
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
    border: 1px solid #ccc;
}
.header_bottom{
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.header_left{
    margin-top: 32px;
    display: flex;
    width: 500px;
}
.header_right{
    margin-left: 90px;
    width: 500px;
    background-color:#ffffff;
}
.header_p{
    padding: 20px;
}


/* === main === */


.img_big{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 676px;
    width: 100%;
    background-image: url(img/0rdDzHtYTdSqskGfxNL0cQ.webp);
}
img{
    width: 100%;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 500px;
    width: 1000px;
    padding: 90px 0px 90px 64px;
    background-color:black;
    color:aliceblue;
}
.search_p{
    margin-top: 44px;
    margin-bottom: 52px;
}
.search_button_1{
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    width: 200px;
    background-color:rgb(255, 255, 255);
    border: none;
    color:rgb(0, 0, 0);
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
}
.search_button_2{
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    width: 200px;
    background-color:rgb(0, 0, 0);
    border: none;
    color:white;
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
    border: 1px solid #ccc;
}



.open_services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.foot_h{
    margin-top: 112px;
    margin-bottom: 80px;
}
.foot{
    display: flex;
    justify-content: center;
}
h3{
    padding: 20px;
}
.foot_p{
    margin-bottom: 32px;
}
.botton_blok{
    padding: 10px;
}