*{
    margin: 0;
    padding: 0;
}
.block {
    width: 100%;
    height: 700px; /* Задайте нужную высоту */
    border: none; /* Убираем рамку */
}
iframe {
    width: 100%;
    height: 600px; /* Задайте нужную высоту */
    border: none; /* Убираем рамку */
}
.h2{
    height: 20px;
}